.summaryCardValue
    font-size: 24px
    font-weight: 600
    margin: 8px 0 4px

.summaryCardChange
    color: var(--text-color-primary)

.positive
    color: var(--color-green)
    font-weight: 600

.negative
    color: var(--color-red)
    font-weight: 600

