.dashboard
    display: flex
    flex-direction: column
    gap: 16px

.summaryCards
    display: flex
    gap: 16px

    section
        flex: 1

    @media (max-width: 768px)
        flex-wrap: wrap

        section
            flex: 1 1 calc(50% - 8px)
            min-width: calc(50% - 8px)

.widgets
    display: flex
    gap: 16px

    .transactionsContainer,
    .chartsContainer
        flex: 1 1 50%
        min-width: 0

    .chartsContainer
        display: flex
        flex-direction: column
        gap: 16px

    @media (max-width: 768px)
        flex-direction: column

        .transactionsContainer,
        .chartsContainer
            flex: 1 1 100%


