.dashboard
    display: flex
    flex-direction: column
    gap: 16px

.summaryCards
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 16px

    @media (max-width: 1024px)
        grid-template-columns: repeat(2, 1fr)

    @media (max-width: 600px)
        grid-template-columns: 1fr

.chartsRow
    display: flex
    grid-template-columns: 1fr 1fr
    gap: 16px

    section
        flex-basis: 50%
        width: 50%

        @media (max-width: 768px)
            flex-basis: 100%
            width: 100%

